.compareWrp {
  padding: 20px;

  section {
    display: flex;
    width: 100%;
    margin-top: 40px;
    gap: 20px;
  }
}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: aquamarine;
  font-size: 20px;
  border-radius: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 15px;

  p {
    font-size: 20px;
  }
}
